@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFDF5;
  --foreground: #0D0A1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0A1E;
    --foreground: #FFFDF5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jost), sans-serif;
}
